.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  .container p{
    text-align: center;
  }
  
  .container h1 {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px rgb(191, 191, 191) solid;
    font-size: 30px;
    margin-top: 0;
  }
  
  .title {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px rgb(191, 191, 191) solid;
    font-size: 30px;
  }
  .buttonAdd {
    display: inline-flex;
    align-self: flex-end;
    width: fit-content;
    text-decoration: none;
  }
  .buttonGreen {
    padding: 16px 40px;
    margin: 20px;
    border: rgb(21, 139, 10);
    border-radius: 30px;
    background-color: rgb(21, 139, 10);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
  }
  .buttonGreen:hover {
    background-color: rgb(88, 88, 88);
  }
  .boxesContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .boxContainer {
    display: flex;
    width: 30%;
  }
  .boxContainer ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid black;
  }
  .boxItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boxItem span{
    margin: 10px 0;
  }
  .actions{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .actions button{
    margin-bottom: 10px;
  }
  .addMore{
    text-decoration: none;
  }
  .addMore span{
    color: green;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
  }
  .btnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }