.fieldset {
  width: 50%;
  padding: 10px 40px;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
.fieldset label {
  display: block;
  padding: 10px 5px;
}
.fieldset input,
.fieldset select {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 30px;
  box-sizing: border-box;
}
.fieldset .inputError {
  border-color: red;
}
.messageError {
  height: 20px;
  margin-right: 10px;
  font-size: 0.9rem;
  text-align: end;
  color: red;
}