.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.212);
}
.closeModal {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
.modal {
  background-color: #ffffff;
  margin: 30% auto;
  padding: 1.5em;
  border: 0.2em solid #090a0a;
  width: 80%;
  color: #090a0a;
  line-height: 25px;
  text-align: center;
}
.modal h2 {
  margin-bottom: 10px;
  font-style: italic;
}
.modal ul {
  margin-bottom: 10px;
  padding: 0;
  font-size: 12px;
  list-style-type: none;
}
.buttonModal {
  display: flex;
  justify-content: center;
}
.buttonModal button {
  padding: 16px 20px;
  margin: 15px 2px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}
.modalOk {
  background-color: rgb(104, 255, 162);
  border: rgb(88, 88, 88);
}
.modalCancel {
  background-color: rgb(255, 104, 104);
  border: rgb(88, 88, 88);
}
.buttonModal button:hover {
  background-color: rgb(88, 88, 88);
}
.center {
  display: flex;
  justify-content: center;
}
