.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  padding: 0px 40px 40px 40px;
}
.buttonAdd {
  display: inline-flex;
  width: fit-content;
  text-decoration: none;
}
.buttonGreen {
  width: 30%;
  padding: 15px 0;
  margin: 40px 0 0;
  border: rgb(21, 139, 10);
  border-radius: 30px;
  background-color: rgb(21, 139, 10);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
